/* styles/VideoReel.module.css */

.scrollContainer {
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
  }
  
  @media (min-width: 640px) {
    .scrollContainer {
      scroll-snap-type: x mandatory;
    }
  }
  
  .scrollContainer::-webkit-scrollbar {
    display: none;
  }
  